In [2]:
import pandas as pd

#https://docs.google.com/spreadsheets/d/1uxYa8NKhoPQVAO_LNqNWxyn30qn5S_qD/edit?usp=sharing&ouid=103286032416998039927&rtpof=true&sd=true

planilha_id = '1uxYa8NKhoPQVAO_LNqNWxyn30qn5S_qD'

dados_DF = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{planilha_id}/export?format=csv")

display(dados_DF)

            Vendedor                        Produto Data Venda Total Vendas
0   Leonardo Almeida                 Tênis Feminino   1/1/2023       719,92
1     Eliane Moreira          Calça Feminina Jogger   1/2/2023       139,98
2    Nicolas Pereira               Camisa Masculina   1/3/2023        306,8
3     Amanda Martins              Bermuda Masculino   1/4/2023       1485,6
4       Paulo Santos  Camisa Masculina Festa Balada   1/5/2023       876,84
5    Gabriel Cardoso                 Bota Masculina   1/6/2023       448,28
6   Leonardo Almeida        Jaqueta Masculina Preta   1/7/2023          602
7     Eliane Moreira              Bolsa de Trabalho   1/8/2023       994,92
8    Nicolas Pereira    Kit de Pinceis de Maquiagem   1/9/2023      1048,68
9     Amanda Martins               Vestido Infantil  1/10/2023         59,9
10  Leonardo Almeida                Calça Bailarina  1/11/2023        281,4
11    Eliane Moreira                 Camisa Térmica  1/12/2023         83,8
12   Nicolas Pereira                  Sapato Social  1/13/2023        573,3
13    Amanda Martins               Sapatilha Sapato  1/14/2023        503,1
14    Eliane Moreira                 Colar Pingente  1/15/2023        719,2
15      Angela Maria                 Tênis Feminino  1/16/2023       359,96
16    Carlos Moreira          Calça Feminina Jogger  1/17/2023       489,93
17    Eliane Moreira               Camisa Masculina  1/18/2023       1073,8
18   Nicolas Pereira              Bermuda Masculino  1/19/2023      1039,92
19  Leonardo Almeida  Camisa Masculina Festa Balada  1/20/2023      1315,26
20   Gabriel Cardoso                 Bota Masculina  1/21/2023      1344,84
21  Leonardo Almeida        Jaqueta Masculina Preta  1/22/2023          903
22    Eliane Moreira              Bolsa de Trabalho  1/23/2023       994,92
23   Nicolas Pereira    Kit de Pinceis de Maquiagem  1/24/2023      1048,68
24    Amanda Martins               Vestido Infantil  1/25/2023        479,2
25    Eliane Moreira                Calça Bailarina  1/26/2023        234,5
26   Nicolas Pereira                 Camisa Térmica  1/27/2023        377,1
27    Amanda Martins                  Sapato Social  1/28/2023        737,1

In [11]:
import pandas as pd

#https://docs.google.com/spreadsheets/d/1uxYa8NKhoPQVAO_LNqNWxyn30qn5S_qD/edit?usp=sharing&ouid=103286032416998039927&rtpof=true&sd=true

planilha_id = '1uxYa8NKhoPQVAO_LNqNWxyn30qn5S_qD'

dados_DF = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{planilha_id}/export?format=csv")



"""
Desafio

1 - Após carregar os dados, deixe somente as colunas de Vendedor e Total de Vendas
2 - Com o groupby, use a coluna de vendedor para criar um resumo do vendedor e a soma total das vendas
3 - Salve o dataFrame como um arquivo de Excel

Parece fácil, mas não é! Boa sorte!

"""

#1 - Após carregar os dados, deixe somente as colunas de Vendedor e Total de Vendas

#drop - Deletar
deletarDuasColunas = dados_DF.drop(columns=["Produto", "Data Venda"])


#2 - Com o groupby, use a coluna de vendedor para criar um resumo do vendedor e a soma total das vendas

#Substituindo tudo que é virgula por ponto na coluna Total Vendas
deletarDuasColunas["Total Vendas"] = deletarDuasColunas["Total Vendas"].str.replace(',','.') 

#Convertendo a coluna Total Vendas de texto para float
deletarDuasColunas["Total Vendas"] = deletarDuasColunas["Total Vendas"].astype(float)

groupbyVendedor = deletarDuasColunas.groupby(["Vendedor"]).sum()


display(groupbyVendedor)

#3 - Salve o dataFrame como um arquivo de Excel

#Salvando o arquivo como excel csv
groupbyVendedor.to_csv("Resposta Desafio.csv")

#engine - mecamismo da biblioteca xlsxwriter
#Salvando o arquivo em formato excel xlsx
arquivoExcel = pd.ExcelWriter("Resposta Desafio.xlsx", engine="xlsxwriter")
arquivoExcel.save()
    
#Transformando os dados no DataFrame
dataFrame = pd.DataFrame(groupbyVendedor)
    
#Preparar o arquivo
arquivoExcel = pd.ExcelWriter("Resposta Desafio.xlsx", engine="xlsxwriter")
    
#Convertendo o DataFrame em um arquivo de Excel
dataFrame.to_excel(arquivoExcel, sheet_name="Dados", index=True)

#Salvo as modificações
arquivoExcel.save()

                  Total Vendas
Vendedor
Amanda Martins         3264.90
Angela Maria            359.96
Carlos Moreira          489.93
Eliane Moreira         4241.12
Gabriel Cardoso        1793.12
Leonardo Almeida       3821.58
Nicolas Pereira        4394.48
Paulo Santos            876.84